# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Arquivos temporários
*.tmp

# Arquivos de compilação
*.out
*.map

# Arquivos de configuração
.env

# Arquivos de dependências
package-lock.json

# Arquivos de compilação do Babel
lib/

# Arquivos de compilação do json-server
db.json

# Configurações do Visual Studio Code
.vscode/
*.code-workspace
.history/

# Arquivos de configuração do Visual Studio Code
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
